<!-- 
<div class="container">
	<h1 style="text-align: center;">Add New Comment</h1>
	<div style="width: 28%; margin: 20px auto;">
		<form action="/home" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="comment" placeholder="Add a Comment">
			</div>
		</form>
	</div> 
</div>
 -->



