<%- include ("partials/header") %>


<div class="container">
	<div class="row" style="display-flex; flex-wrap: wrap;">
	   <% pictures.forEach(function(picture){ %>
		<div class="col-md-2 col-sm-6">
				 <img src="<%= picture.image %>" class="rounded img-fluid">
		</div>
	<% }); %>
		</div>
	 <p><a class="btn btn-primary btn-md" href="/home/new">Add a new picture</a></p>
</div>


<%- include ("partials/footer") %>