<%- include ("../partials/header") %>



<div class="container-fluid">
	<div class="col-md-12">
		<div class="row">
			<div class="gal">
				
			
	<!-- <div class="row" style="display-flex; flex-wrap: wrap;"> -->
	   <% pictures.forEach(function(picture){ %>
		<!-- <div class="col-md-3 col-sm-6"> -->
			<a href="/home/<%= picture._id %>"><img src="<%= picture.image %>" class="img test"></a>
	<% }); %>
				</div>
			</div>
		</div>
	  </div>
	 
       <p><a class="btn btn-primary btn-md" href="/home/new">Add a new picture</a></p>



<%- include ("../partials/footer") %>